.container {
  font-family: Ubuntu;
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  margin-top: 3.5rem;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 1.5rem;
}

.specialty {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 1rem;
  gap: 8rem;
}

.workplace {
  font-size: 0.8rem;
  margin-top: auto;
  cursor: pointer;
}

.description {
  margin-top: 1rem;
  width: 35rem;
  font-weight: 400;
  font-size: 1rem;
}

.addInfo {
  display: flex;
  flex-direction: column;
  margin-left: 8rem;
  border-left: 1px black solid;
  padding-left: 3rem;
  gap: 2rem;
}

.header {
  font-size: 1.5rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.subtitle {
  font-weight: 500;
  font-size: 1rem;
}

.uniSpecialty,
.eduTerms {
  font-weight: 500;
  font-size: 1rem;
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .specialty {
    flex-direction: column;
    gap: 0.3rem;
    align-items: flex-start;
  }

  .description {
    width: 15rem;
  }

  .list {
    margin-left: -0.5rem;
  }

  .addInfo {
    margin-left: 0rem;
    border: none;
    padding-left: 0rem;
    margin-top: 1rem;
    gap: 1rem;
  }

  .header {
    gap: 0.2rem;
  }
}