.container {
  font-family: Ubuntu;
  display: flex;
  flex-direction: row;
  margin-left: 5rem;
  margin-top: 3.5rem;
}

.contents {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: bold;
  font-size: 2rem;
}

.specialty {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-weight: 500;
  font-size: 1.5rem;
  gap: 8rem;
}

.workplace {
  font-size: 1rem;
  margin-top: auto;
  cursor: pointer;
}

.description {
  margin-top: 1rem;
  width: 40rem;
  font-weight: 400;
  font-size: 1.2rem;
}

.addInfo {
  display: flex;
  flex-direction: column;
  margin-left: 10.75vw;
  border-left: 1px black solid;
  padding-left: 3rem;
  gap: 3rem;
}

.header {
  font-size: 2rem;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2rem;
}

.uniSpecialty,
.eduTerms {
  font-weight: 500;
  font-size: 1rem;
}
