.container {
  display: flex;
  margin-left: 5rem;
  margin-top: 2rem;
  flex-direction: row;
  font-family: Ubuntu;
}

.myInfo {
  display: flex;
  flex-direction: column;
}

.name,
.specialty {
  font-weight: bold;
  font-size: 4rem;
}

.specialty {
  margin-top: 0.4rem;
  font-size: 1.5rem;
  margin-left: 0.2rem;
}

.photo {
  margin-left: 0.2rem;
  margin-top: 2rem;
  width: 248px;
  height: 248px;
  background: #d9d9d9;
}

.socials {
  height: 18rem;
  margin-left: 25vw;
  margin-top: 4.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  border-left: 1px black solid;
  padding-left: 2rem;
  align-items: center;
  justify-content: center;
}

.icon, .iconMap {
  width: 3rem;
  height: 3rem;
  padding-right: 0.4rem;
}

.iconMap {
    margin-left: -0.3rem;
}

.telegram,
.github,
.location,
.email {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 1.3rem;
  cursor: pointer;
}


.location {
  cursor: auto;
}
