.container {
    display: flex;
    margin-left: 5rem;
    margin-top: 3rem;
    flex-direction: row;
    font-family: Ubuntu;
}

.myInfo {
    display: flex;
    flex-direction: column;
}

.name, .specialty {
    font-weight: bold;
    font-size: 4rem;
}

.specialty {
    margin-top: 0.4rem;
    font-size: 1.5rem;
    margin-left: 0.2rem;
}

.photo {
    margin-left: 0.2rem;
    margin-top: 2rem;
    width: 248px;
    height: 248px;
    background: #D9D9D9;
}

.socials {
    height: 18rem;
    margin-left: 24rem;
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap:1.5rem;
    border-left: 1px black solid;
    padding-left: 2rem;
    padding-top: 4.5rem;
}

.icon {
    width: 3.5rem;
    height: 3.5rem;
    padding-right: 0.5rem;
}

.telegram, .github, .location {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 1.5rem;
}